* {
  box-sizing: border-box;
}

body {
  margin: 0;
background:  #e6e6e6;
  color:  #3b3636;
  font-family: 'Playfair Display', serif;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
}

.logo {
  letter-spacing: 3px;
  font-size: 22px;
}

.navbar a {
  margin-left: 40px;
  text-decoration: none;
  color:  black;
  letter-spacing: 2px;
  font-size: 14px;
}


.hero {
  display: flex;
  height: 90vh;
}

.hero-text {
  flex: 1;
  padding: 120px 100px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  opacity: 0.8;
}

.cta {
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  color:  black;
  letter-spacing: 2px;
  border-bottom: 1px solid  black;
  padding-bottom: 6px;
}


.hero-image {
  flex: 1;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}


.categories {
  display: flex;
  gap: 40px;
  padding: 100px;
}

.category-card {
  position: relative;
  flex: 1;
  height: 500px;
  overflow: hidden;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: transform 0.6s ease;
}

.category-card span {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 20px;
  letter-spacing: 3px;
  z-index: 2;
}

.category-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background:  #e6e6e6(0, 0, 0, 0.35);
  z-index: 1;
}

.category-card:hover img {
  transform: scale(1.05);
}
.category-link {
  text-decoration: none;
  color: inherit;
  flex: 1;
  display: block;
}
