
body {
    font-family: Arial, sans-serif;
}


.products-grid {
    display: flex;
    justify-content: center;
    gap: 30px;       
    margin-bottom: 40px; 
}


.product-card {
    text-align: center;
}

.product-card img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.buy-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.buy-btn:hover {
    transform: scale(1.05);
    background-color: rgb(40,40,40);
}
.product-card img {
    transition: 0.3s ease;
}

.product-card img:hover {
    transform: scale(1.1);
}
.product-card {
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    border-radius: 10px;
    padding: 15px;
}
.header-title {
    text-align: center;          
    font-family: cursive;        
    font-size: 60px;             
    color: black;                
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
    margin-top: 20px;            
}
body {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), 
                      url('blackmodel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.topo{
  background-color: black;   
  color: white;             
  padding: 8px 0;            
  text-align: center;        
  font-size: 14px;
  font-weight: bold;
  position: fixed;           
  top: 0;                    
  left: 0;
  width: 100%;               
  z-index: 1000;             
  font-family: 'Dancing Script', cursive;
}
.header-title {
    text-align: center;
    font-family: cursive;
    font-size: 60px;
    color: black;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin-top: 80px;   
}
