
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right,  #0f0f0f,#e5e5e5);
    font-family: Arial, sans-serif;
}


.login-container {
    background: white;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px beige (0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}


.login-container h1 {
    margin-bottom: 20px;
}


.login-container input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}


.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    background:  #0f0f0f;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-container button:hover {
    background: bisque;
}


.note {
    margin-top: 15px;
    font-size: 14px;
    color:  #0f0f0f;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}
body {
    flex-direction: column;
}
